:root {
  --primer: #3e823e;
  --bg: #43c643;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  background-color: #178917;
  color: white;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(36, 194, 36, 0.358);
  border-bottom: 2px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #3e823e;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.3rem;
}
.navbar .navbar-nav a:hover {
  color: #3e823e;
}
.navbar .navbar-icon a {
  color: white;
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../gambar/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(56, 136, 29) 1%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 5);
  line-height: 1.2;
}

#menu {
  display: none;
}
/*queries*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(67, 216, 74, 0.256);
    width: 30vw;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #fefefe;
    display: block;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar-icon {
    background-color: blueviolet;
  }
}
